@import 'bootstrap-sass-official/bootstrap';

.table-meals {
  td {
    vertical-align: middle !important;
  }
  .col-when {
    width: 120px;
  }
  .col-calories {
    width: 50px;
    text-align: right;
  }
}
