<div class='page-header'>
  <h1>Meals</h1>
</div>

<div ng-controller="MealsCtrl">
  <p><a href="meals/new" class="btn btn-primary">Add Meal</a></p>
  <p ng-show="meals.length == 0">No meals to show.</p>
  <table class="table table-striped" ng-show="meals.length > 0">
    <thead>
      <tr>
        <th>When</th>
        <th>Calories</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="meal in meals">
        <td>{{meal.eaten_at | date: 'medium'}}</td>
        <td>{{meal.calories}}</td>
        <td>{{meal.description}}</td>
      </div>
    </tbody>
  </table>
</div>
