<div class='page-header'>
  <h1>Meals</h1>
</div>

<div class="row" ng-controller="MealsCtrl">
  <div class="col-sm-9">
    <p><a href="meals/new" class="btn btn-primary">Add Meal</a></p>
    <p ng-show="meals.length == 0">No meals to show.</p>
    <table class="table table-striped table-meals table-hover" ng-show="meals.length > 0">
      <thead>
        <tr>
          <th class='col-when'>When</th>
          <th class='col-calories'>Calories</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="meal in meals">
          <td class='col-when'>{{meal.eaten_at | date: 'MMM dd, HH:mm'}}</td>
          <td class='col-calories'>{{meal.calories}}</td>
          <td>{{meal.description}}</td>
          <td class='text-right'>
            <a href='#' class='btn btn-primary btn-xs' ng-href="/meals/{{meal.id}}/edit">Edit</a>
            <a href='#' class='btn btn-danger btn-xs' ng-click="deleteMeal(meal)">Delete</a>
          </td>
        </div>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
      </div>
      <div class="panel-body">
        <form novalidate role="form" name="formFilter" ng-submit="filterMeals(mealFilter)">
          <div class="form-group" ng-class="{'has-error': formFilter.dateFrom.$invalid}">
            <label for="inputDateFrom">Date from</label>
            <input type="date" class="form-control" id="inputDateFrom" name="dateFrom" placeholder="YYYY-MM-DD" ng-model="mealFilter.dateFrom"/>
          </div>
          <div class="form-group" ng-class="{'has-error': formFilter.dateTo.$invalid}">
            <label for="inputDateTo">to</label>
            <input type="date" class="form-control" id="inputDateTo" name="dateTo" placeholder="YYYY-MM-DD" ng-model="mealFilter.dateTo" />
          </div>
          <div class="form-group" ng-class="{'has-error': formFilter.timeFrom.$invalid}">
            <label for="inputTimeFrom">Time between</label>
            <input type="time" class="form-control" id="inputTimeFrom" name="timeFrom" placeholder="HH:MM" ng-model="mealFilter.timeFrom" />
          </div>
          <div class="form-group" ng-class="{'has-error': formFilter.timeTo.$invalid}">
            <label for="inputTimeTo">and</label>
            <input type="time" class="form-control" id="inputTimeTo" name="timeTo" placeholder="HH:MM" ng-model="mealFilter.timeTo" />
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="formFilter.$pristine">Filter</button>
        </form>  
      </div>
    </div>
    <pre>{{mealFilter | json}}</pre>
  </div>
</div>

