<!DOCTYPE html>
<html ng-app="caloriesApp" lang='en'>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>CaloriesApp</title>
  <base href="/" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">CaloriesApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sign_up">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
  </div>
</nav>

<div class="container" ng-view>
  <%= yield %>
</div>

</body>
</html>
